<div class="parent">  
    <div class="container" id="container">  
        <div class="illus">  
            <div class="illus">  
                <div id="img1">  
                    <img src="assets/images/logo.png"> 
                    <img src="assets/images/logo1.png" id="img3">  
                </div>  
                <div id="img2">  
                    <img src="assets/images/illus.png">   
                </div>  
            </div>   
        </div>   
        <div class="icon-container done">
            <div class="tick-icon">  
                <svg width="160" height="160" viewBox="0 0 24 24" class="tick-svg">  
                    <circle cx="12" cy="12" r="10" class="tick-circle" />  
                    <polyline points="8 12 11 15 16 10" class="tick-sign" />  
                </svg>  
            </div>  
            <h4>Welcome to Solvei8!</h4>  
            <p>Redirecting you to the Login screen. This might take a few seconds...</p>  
        </div>
    </div>  
</div>